*{
    font-family: verdana;
    margin: 0;
}
body{
    background: #eee;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: white;
}
#nav {
  width:200px;
  height:100%;
}
.container {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
img {
    width: 100%;
}
.derecha {
    float: left;
    margin: 10px;
}
.numeracion {
    float: right ;
    margin: 10px;
}
.enLinea{
    display: inline;
}
.fila {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.texto_final{
    text-align: justify;
    padding: 10px;
}
